<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <img src="assets/images/logo.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addChecklist()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="light" size="large">Your lists</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let checklist of checklists">
        <ion-item routerLink="/checklists/{{checklist.id}}" routerDirection="forward">
          <ion-label>{{ checklist.title }}</ion-label>
          <span>{{ checklist.items.length }} items</span>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="light" (click)="renameChecklist(checklist)">
            <ion-icon slot="icon-only" name="checklist"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeChecklist(checklist)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


  </div>
</ion-content>