<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/images/slide1.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide2.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slide3.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide4.png" />
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-button expand="full" color="success" routerLink="/" routerDirection="forward">Start Using Quicklists <ion-icon
      name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>